{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_field %}




{% if user.is_authenticated %}

    {% block content %}
        <div class="container-fluid">
            <h1 class="mb-4 pb-3 text-center">Статистика прохождения опросов</h1>

            <div class="row mb-4">
                <div class="col-4">
                    <div id="container-highcharts-ajax1" ></div>
                </div>
                <div class="col-4">
                    <div id="container-highcharts-ajax2"></div>
                </div>
                <div class="col-4">
                    <div id="container-highcharts-ajax3"></div>
                </div>

            </div>


            <div class="row">
                <div class="col-3">


                    <form method="get" id="filters-in-users" data-url="{% url 'totalusers' %}">
                        <div class="list-group">


                            <div class="card  border border-info">
                                <div class="card-header pl-0 pr-0">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="col-7"><span class="text-center"></span></div>
                                        <div class="col-5">
                                            <a href="{% url 'statistics' %}" data-auto-id="clear"
                                               class="btn btn-outline-info btn-block pt-2 pb-2 text-light"
                                               data-toggle="" data-target=""
                                               aria-expanded="false" aria-controls="" data-filter-toggle="true">Очистить
                                            </a>
                                        </div>


                                    </div>
                                </div>


                                <div class="filter-groups " data-filter-dropdown="true">

                                    <header class="header d-flex align-items-center bg-info">
                                        <div class="mh-100">
                                            <p class=" mb-0 h-50 d-block"><small
                                                    class="totalSelectedUsersValues"></small><small> выбрано</small>
                                            </p>
                                            <p class="selectedUsersValueList mb-0 h-50 d-inline-block">&nbsp;</p>
                                        </div>

                                    </header>
                                    <div class="col-12 mt-3"><span class="text-center">Группа отдела:</span></div>
                                    <div class="">

                                        <ul>
                                            {% for field in filterset.form.groups %}
                                                <li>
                                                    <div class="btn-group-toggle mt-2 position-relative"
                                                         data-toggle="buttons" data-auto-id="refinementItem">
                                                        <label class="btn btn-outline-info w-100 text-left text-light "
                                                               for="{{ field.id_for_label }}"
                                                               data-value="{{ field.choice_label }}">
                                                            {{ field.tag }}
                                                            {{ field.choice_label }}

                                                            <span class="{{ field.data.name }}_id_{{ field.data.value }} badge-info float-right rounded-lg pl-2 pr-2"
                                                                  data-auto-id="refinementItemCount">0</span>
                                                        </label>

                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>


                                    </div>

                                    <div class="col-12 mt-3"><span
                                            class="text-center">Разрешение на прохождение опроса:</span></div>
                                    <div class="">
                                        <div class="btn-group btn-group-toggle d-block mt-2 pl-0"
                                             data-toggle="buttons" data-auto-id="refinementItemInActive">
                                            <ul>
                                                {% for field_permits in filterset.form.is_permits %}
                                                    <li>

                                                        <label class="btn btn-outline-info w-100 text-left text-light "
                                                               for="{{ field_permits.id_for_label }}">
                                                            {{ field_permits.tag }}
                                                            {{ field_permits.choice_label }}
                                                            <span class="{{ field_permits.data.name }}_id_{{ field_permits.data.index }} badge-info float-right rounded-lg pl-2 pr-2"
                                                                  data-auto-id="refinementItemCount">0</span>
                                                        </label>

                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-info btn-block pt-2 pb-2 mt-3 text-light">Вывести
                        </button>
                    </form>


                </div>
                <div class="col-9">
                    {#    # Модальное окно http://sharelink.ru/blog/vyvod-tovara-v-modalnom-okne/#}


                    {% if success %}
                        <p style="color:red">Вопрос добавлен</p>
                    {% endif %}


					<div class="d-inline-flex">

                        <div class="mr-2"><a href="" class="btn btn-primary btn-lg mb-3" role="button"
                                             data-url="{% url 'user_add' %}"
                                             aria-pressed="true"
                                             data-toggle="modal"
                                             data-target="#exampleAddUserModalCenter">Добавить пользователя</a></div>                       


                    </div>


                    <div class="list-group">
                        <button class="btn btn-info btn-block mt-2 pt-2 pb-2 disabled"
                                type="button"
                                data-toggle="" data-target=""
                                aria-expanded="false" aria-controls="">
                            <div class="d-flex flex-row justify-content-between align-items-center h40">
                                <div class="w-5">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input check-all-user"
                                            data-permits=""
                                            data-type="allpermits"
                                            data-url="{% url 'userchecked' %}"
                                            id="allpermits">
                                        <label class="custom-control-label" for="allpermits">Все</label>

                                    </div>
                                </div>
                                <div class="w-45"><span class="text-center">Фамилия Имя инженера</span></div>
                                <div class="w-15"><span class="text-center">Группа</span></div>
                                <div class="w-20"><span class="text-center">&sum; опросов</span></div>
                                <div class="w-20"><span class="text-center">Дата прохождения </span></div>
                            </div>
                        </button>



                        <div class="accordion" id="accordExample">
                            {% for list_answer_user in statistics_users %}
                                {% if list_answer_user.permit_count == 0 %}

                                <div class="">
                                    <div class="d-inline-flex w-100 mt-2">
                                        <div class="w-5">
                                            <div class="custom-control custom-switch text-center">
                                                <input name="user-check" type="checkbox"
                                                       class="custom-control-input"
                                                       value="{{ list_answer_user.is_permits|lower }}"
                                                       data-type="user-check"
                                                       {% if list_answer_user.is_permits %}checked{% endif %}
                                                       id="userpermits_{{ list_answer_user.id }}"
                                                       data-user="{{ list_answer_user.id }}"
                                                       data-master="{{ list_answer_user.groups__is_boss|lower }}"
                                                       data-url="{% url 'userchecked' %}"
                                                       data-permits="{{ list_answer_user.is_permits|lower }}">
                                                <label class="custom-control-label align-middle"
                                                       for="userpermits_{{ list_answer_user.id }}"></label>

                                            </div>
                                        </div>
                                        <div class="w-95">
                                            <button class="btn btn-outline-info btn-lg btn-block btn-statistics-user position-relative" type="button" >
                                                <div class="d-flex flex-row justify-content-between align-items-center">
                                                    <div class="w-30">
                                                        <span class="username badge text-left p-1 w-100 statistics-user">{{ list_answer_user.last_name }} {{ list_answer_user.first_name }} - {{ list_answer_user.id }}</span>
                                                    </div>

													<div class="w-15">
														<span class="childrens ">
															<span class="wh40 p-0 fa fa-pencil btn btn-sm btn-light p-1 edit-user"
															   role="button"
															   aria-pressed="true"
															   data-toggle="modal"
															   data-edit-user="{{ list_answer_user.id }}"
                                                               data-url="{% url 'user_edit' list_answer_user.id %}"
															   data-target="#editUserModal"
															   title="Редактировать">
															</span>
                                                        {% if user.is_superuser %}
                                                            <span class="wh40 p-0 fa fa-key btn btn-sm btn-light p-1 edit-user-pass"
															   role="button"
															   aria-pressed="true"
															   data-toggle="modal"
															   data-user-id="{{ list_answer_user.id }}"
                                                               data-url="{% url 'user_pass_change' list_answer_user.id %}"
															   data-target="#changePasswordUserModal"
															   title="Изменить пароль">
															</span>
                                                        {% endif %}

															<span class="wh40 p-0 fa fa-trash delete-user btn btn-sm btn-danger p-1"
															   role="button"
															   aria-pressed="true"
															   data-url="{% url 'user_delete' list_answer_user.id %}"
															   data-toggle="modal"
															   data-target="#deleteUserModalCenter"
															   title="Удалить">
															</span>
														</span>
                                                    </div>

                                                    <div class="w-15">
                                                        <span class="badge badge-light text-left p-2 w-100 h40 justify-content-center align-items-center">{{ list_answer_user.groups__name }}</span>
                                                    </div>


                                                    <div class="w-40">
                                                        <small class="text-center text-wrap">Опрос не проходил(а)</small>
                                                    </div>


                                                </div>

                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="" id="heading_{{ list_answer_user.id }}" data-heading-user="{{ list_answer_user.id }}">

                                    <div class="d-inline-flex w-100 mt-2">
                                        <div class="w-5">
                                            <div class="custom-control custom-switch text-center">
                                                <input name="user-check" type="checkbox"
                                                       class="custom-control-input"
                                                       value="{{ list_answer_user.is_permits|lower }}"
                                                       data-type="user-check"
                                                       {% if list_answer_user.is_permits == True %}checked{% endif %}
                                                       id="userpermits_{{ list_answer_user.id }}"
                                                       data-user="{{ list_answer_user.id }}"
                                                       data-master="{{ list_answer_user.groups__is_boss|lower }}"
                                                       data-url="{% url 'userchecked' %}"
                                                       data-permits="{{ list_answer_user.is_permits|lower }}">
                                                <label class="custom-control-label align-middle"
                                                       for="userpermits_{{ list_answer_user.id }}"></label>

                                            </div>
                                        </div>
                                        <div class="w-95">
                                            <button class="btn btn-outline-info btn-lg btn-block btn-statistics-user position-relative" type="button" >
                                                <div class="d-flex flex-row justify-content-between align-items-center">
                                                    <div class="w-30">
                                                        <span class="username badge text-left p-1 w-100 statistics-user"
                                                        data-user-id="{{ list_answer_user.id }}"
                                                        data-url="{% url 'statistics_for_user' %}"
                                                        data-toggle="collapse"
                                                        data-target="#collapse_{{ list_answer_user.id }}"
                                                        aria-expanded="false"
                                                        aria-controls="collapse_{{ list_answer_user.id }}" >{{ list_answer_user.last_name }} {{ list_answer_user.first_name }} - {{ list_answer_user.id }}</span>
                                                    </div>

													<div class="w-15">
														<span class="childrens ">
															<span class="wh40 p-0 fa fa-pencil btn btn-sm btn-light p-1 edit-user"
															   role="button"
															   aria-pressed="true"
															   data-toggle="modal"
															   data-edit-user="{{ list_answer_user.id }}"
                                                               data-url="{% url 'user_edit' list_answer_user.id %}"
															   data-target="#editUserModal"
															   title="Редактировать">
															</span>
                                                        {% if user.is_superuser %}
                                                            <span class="wh40 p-0 fa fa-key btn btn-sm btn-light p-1 edit-user-pass"
															   role="button"
															   aria-pressed="true"
															   data-toggle="modal"
															   data-user-id="{{ list_answer_user.id }}"
                                                               data-url="{% url 'user_pass_change' list_answer_user.id %}"
															   data-target="#changePasswordUserModal"
															   title="Изменить пароль">
															</span>
                                                        {% endif %}

															<span class="wh40 p-0 fa fa-trash delete-user btn btn-sm btn-danger p-1"
															   role="button"
															   aria-pressed="true"
															   data-url="{% url 'user_delete' list_answer_user.id %}"
															   data-toggle="modal"
															   data-target="#deleteUserModalCenter"
															   title="Удалить">
															</span>
														</span>
                                                    </div>

                                                    <div class="w-15">
                                                        <span class="badge badge-light text-left p-2 w-100 h40 justify-content-center align-items-center">{{ list_answer_user.groups__name }}</span>
                                                    </div>

                                                    {% if list_answer_user.permit_count != 0 %}
                                                        <div class="w-20">
                                                            <span class="badge badge-light text-center p-2 w-50 h40 justify-content-center align-items-center" data-count="{{ list_answer_user.permit_count }}">{{ list_answer_user.permit_count }}</span>
                                                        </div>
                                                        <div class="w-20">
                                                            <span class="badge badge-light text-center p-2 w-100 h40 justify-content-center align-items-center">{{ list_answer_user.date_last_answ|date:"j E Y" }}</span>
                                                        </div>

                                                    {% else %}
                                                        <div class="w-40">
                                                            <small class="text-center text-wrap">Опрос не проходил(а)</small>

                                                        </div>
                                                    {% endif %}


                                                </div>

                                            </button>
                                        </div>
                                    </div>


                                    <div id="collapse_{{ list_answer_user.id }}" class="collapse"  style="transition: .6s;" data-collapse-user="{{ list_answer_user.id }}"
                                        aria-labelledby="heading_{{ list_answer_user.id }}" data-parent="#accordExample">


                                        <div class="accordion mb-3 mt-2" id="accordionExampleUserListQuestions_{{ list_answer_user.id }}">

                                        {% for sess in  user_session %}
                                            {% if sess.user_id == list_answer_user.id %}
                                                <div class="" id="heading{{sess.id}}" data-heading-question="{{sess.id}}" data-url = "{% url 'oprosanswers_list' %}">
                                                    <div class="d-flex mt-1 mb-2">
                                                        <div class="w-5"></div>
                                                        <div class="w-95">
                                                            <div class="d-flex flex-row">
                                                                <div class="align-middle pr-2">
                                                                    <button class="fa fa-trash btn btn-outline-{% if sess.total_not_correct != 0 %}danger{% else %}success{% endif %} btn-lg h-100 delete-user-statics" data-delete="{{sess.id}}" style="font-size: x-large;" data-url="{% url 'statisticsuserdelete' sess.id %}" title="Удалить"></button>
                                                                </div>
                                                                <div class="pl-0 w-100" onclick="collapseOtvet('{{ sess.id }}', '{{sess.session_key}}',);" >

                                                                    <button class="btn btn-outline-{% if sess.total_not_correct != 0 %}danger{% else %}success{% endif %} btn-lg btn-block pt-1 pb-1 user-opros"
                                                                        data-url="{% url 'oprosanswers' %}"
                                                                        type="button"
                                                                        data-toggle="collapse"
                                                                        data-target="#collapse{{sess.id}}"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapse{{sess.id}}"
                                                                        data-opros-user="{{sess.session_key}}"
                                                                        data-id="{{sess.id}}">
                                                                        <div class="row">
                                                                            {% if sess.total_not_correct != 0 %}
                                                                            <div class="col-1"><span class="badge badge-light w-100 mb-1 mt-1 pt-2 pb-2">{{sess.id}}</span></div>
                                                                            <div class="col-2"><span class="badge float-right m-1">Опрос пройден: </span></div>
                                                                            <div class="col-2"><span class="badge badge-light float-left m-1 pt-2 pb-2">{{sess.date_passage}}</span></div>
                                                                            <div class="col-2"><span class="badge float-right m-1">Не верных ответов на: </span></div>
                                                                            <div class="col-2 d-flex flex-row">
                                                                                <span class="badge badge-light w-100 mb-1 mt-1 pt-2 pb-2">{{sess.total_not_correct}}</span>
                                                                                <span class="badge m-1">из</span>
                                                                                <span class="badge badge-light w-100 mb-1 mt-1 pt-2 pb-2">{{sess.total_questions}}</span>
                                                                            </div>
                                                                            <div class="col-2">
                                                                                <span class="badge float-left m-1">вопроса(ов), а это</span>
                                                                            </div>
                                                                            <div class="col-1"><span class="badge badge-light float-left w-100 m-1 pt-2 pb-2">{{sess.persents}} %</span></div>
                                                                            {% else %}
                                                                            <div class="col-1"><span class="badge badge-light w-100 mb-1 mt-1 pt-2 pb-2">{{sess.id}}</span></div>
                                                                            <div class="col-2"><span class="badge float-right m-1">Опрос пройден: </span></div>
                                                                            <div class="col-2"><span class="badge badge-light float-left m-1 pt-2 pb-2">{{sess.date_passage}}</span></div>
                                                                            <div class="col-2"><span class="badge float-right m-1">Вы верно ответили на все: </span></div>
                                                                            <div class="col-2 d-flex flex-row">
                                                                                <span class="badge badge-light w-100 mb-1 mt-1 pt-2 pb-2">{{sess.total_questions}}</span>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <span class="badge float-left m-1">вопроса(ов).</span></div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </button>


                                                                </div>
                                                            </div>


                                                        <div id="collapse{{sess.id}}" class="collapse" style="transition: .6s;" aria-labelledby="heading{{sess.id}}" data-parent="#accordionExampleUserListQuestions_{{ list_answer_user.id }}">

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>







                                            {% endif %}

                                        {% endfor %}
                                        </div>




                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                                <div class="modal fade show" id="succesDeleteModalCenter" tabindex="-1" role="dialog"
                                     aria-labelledby="succesDeleteModalCenterTitle" aria-modal="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger">
                                                <h5 class="modal-title" id="succesDeleteModalCenterTitle">Права
                                                    доступа</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="text-secondary text-center">У вас нет прав на удаление
                                                    записи.<br/>Со
                                                    всеми вопросами
                                                    обратитесь к РГ Зотову С.В.</h5>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger"
                                                        data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                    {% include 'include/paginator.html' %}
                </div>


            </div>
        </div>


        </div>


        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" id="editUserModalTitle">Редактирование пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-user-edit jq-product-wrapper">


                        </div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
                        <button form="user_edit_form" type="submit" class="btn btn-outline-success">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleAddGroupUserModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleAddGroupUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" id="exampleAddGroupUserModalCenterTitle">Добавление группы пользователей</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-add-group-user jq-product-wrapper">


                        </div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
                        <button form="add_group_user_form" type="submit" class="btn btn-outline-success">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="changePasswordUserModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordUserModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" id="changePasswordUserModalTitle">Изменение пароля пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-user-change-pass jq-product-wrapper">


                        </div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
                        <button form="user-update-pass" type="submit" class="btn btn-outline-success">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>



		<div class="modal fade" id="deleteUserModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="deleteUserModalCenterTitle">Удаление пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-user-delete jq-product-wrapper">


                        </div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" aria-label="Close" aria-hidden="true">Закрыть</button>
                        <button form="user_delete_form" type="submit" class="btn btn-outline-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

		<div class="modal fade" id="exampleAddUserModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleAddUserModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header bg-info text-white">
						<h5 class="modal-title" id="exampleAddUserModalCenterTitle">Добавление пользователя</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body bg-transparent text-dark">
						<div class="modal-user-add jq-product-wrapper">

						</div>
					</div>
					<div class="modal-footer bg-light text-white">
						<button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
						<button form="user_add_form" type="submit" class="btn btn-outline-success">Добавить</button>
					</div>
				</div>
			</div>
		</div>

        {% if messages %}

        {% for message in messages %}
            <script>document.addEventListener("DOMContentLoaded", function(event) {
                messagesInference('{{message}}', '{{message.tags}}');
            });</script>

        {% endfor %}
    {% endif %}





    {% endblock content %}
{% else %}
    <h2>Вы не авторизованы</h2>
{% endif %}


{% block javascript %}
    <script>
        window.onload = (function () {
            formFilterInUsers();
        });

        document.addEventListener("DOMContentLoaded", function(event) {

        });



    </script>

{% endblock javascript %}
