{% extends "base.html" %}

{% if user.is_authenticated %}

    {% block content %}
        <div class="container-fluid pt-0">
            <h1 class="mb-3">Импорт</h1>{{data}}
                {% for item in data %}
                    <p>{{item.questions}}</p></br>
                    <ul>
                        {% for i in item.answers %}
                            <li>{{i}}</li>
                        {% endfor %}
                    </ul>


                {% endfor %}




    {% endblock content %}
{% else %}
    <h2>Вы не авторизованы</h2>
{% endif %}


{% block javascript %}


{% endblock javascript %}