{% extends 'base.html' %}

{% if user.is_authenticated %}

    {% block content %}
    <div class="container">

            <div class="row mb-4 count-total">
                <div class="col-sm-12">
                    <h1 class="cover-heading">Вопрос <span id="count">{{ count_questions }}</span> из <span id="total">{{ total_questions }}</span></h1>
                </div>
            </div>

            <div class="row question">
                <div class="" role="alert">
                    <h4 class="alert-heading">{{ questions_list }}</h4>
                    <hr>
                </div>
            </div>
            <div class="row mb-5 answers">
                <div class="list-group w-100 ">

                    {% for i in answers_list %}
                        <a type="button" class="list-group-item list-group-item-action" data-id="{{ i.id }}"
                           data-approved="{{ i.approved }}" href="{% url 'questionajax' %}">{{ i.description }}</a>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
				<a type="button" class="btn btn-lg btn-secondary nextVopros first" data-id="{{ questions_list.id }}" data-answered="" data-next="{{ list_next }}" data-i="1" href="{% url 'nextquestion' %}">Следующий</a>
			</div>



        <div class="modal" id="isAnsweredModal" tabindex="-1" role="dialog" aria-labelledby="isAnsweredModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header bg-info text-white">
                      <h5 class="modal-title" id="isAnsweredModalTitle"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body bg-transparent text-dark">
                      <div class="jq-product-wrapper">
                        <h3 class="">Вы ответили уже на этот вопрос.</h3>

                      </div>
                  </div>
                  <div class="modal-footer bg-light text-dark">
                      <button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal" id="isNotAnsweredModal" tabindex="-1" role="dialog" aria-labelledby="isNotAnsweredModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="isNotAnsweredModalTitle">Вы не ответили на вопрос!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-transparent text-dark">
                    <div class="jq-product-wrapper">
                      <h4 class="">Выберите ответ для дальнейшего прохождения опроса.</h4>

                    </div>
                </div>
                <div class="modal-footer bg-light text-dark">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>





</div>




    {% endblock content %}
{% else %}
    <h2>Вы не авторизованы</h2>
{% endif %}


{% block javascript %}
    <script>
        window.onload = function() {
          var loaded = sessionStorage.getItem('loaded');
          if(loaded) {
            // Reloaded();

            var otv = localStorage.getItem('otv');
            var status = localStorage.getItem('status');
            if (otv && status){
              $('#isAnsweredModal').modal('show');
              $('body').find('.list-group a.list-group-item[data-id="' + otv + '"]').addClass(status);
              $('body').find('div.answers').children('div.list-group').addClass('disabled');
              // var elements = $('div[data-name|="alert"]');
            }

          } else {
            sessionStorage.setItem('loaded', true);
          }
        }

    </script>

{% endblock javascript %}
