{% extends "base.html" %}

{% if user.is_authenticated %}

    {% block content %}
        <div class="container-fluid pt-0">
            <div class="row">
                <div class="mb-5 pt-3 pb-3 col-12 card  border border-info filter-groups ">
                    <h4>Настройки</h4>
                </div>
            </div>
            <div class="row" id="settings-groups">
                <div class="col-3 pl-0 pr-0">
                    <div class="d-flex align-items-center mb-3">
                        <h3 class="w-100 pl-0">Группы пользователей</h3>
                        <!-- <button class="btn btn-info border-0 sort asc" data-sort="groups_users"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></button> -->


                        <button class="flex-grow-1 btn btn-outline-info btn-lg btn-add_group_user" type="button"
                                            role="button"
                                            aria-pressed="true"
                                            data-toggle="modal"
                                            data-url="{% url 'group_user_creat' %}"
                                            data-target="#exampleAddGroupUserModalCenter"
                                            title="Добавить группу пользователей"><i class="fa fa-users" aria-hidden="true"></i>

                        </button>
                    </div>
                    <div id="list-group-users" data-url="{% url 'list-group-users' %}"><ul class="list"></ul></div>

                    <!-- <div style="display:none;">
                        <li><button class="btn-settings"></button></li>
                      </div> -->


                </div>
                <div class="col-1 p-0"></div>
                <div class="col-8 pl-0 pr-0">
                    <div class="d-flex align-items-center mb-3">
                        <h3 class="w-100 pl-0">Группы вопросов</h3>

                        <button class="flex-grow-1 btn btn-outline-info btn-lg btn-add_group_questions" type="button"
                            role="button"
                            aria-pressed="true"
                            data-toggle="modal"
                            data-url="{% url 'group_question_creat' %}"
                            data-target="#addGroupQuestinModalCenter"
                            title="Добавить группу вопросов"><i class="fa fa-qrcode" aria-hidden="true"></i>

                        </button>

                    </div>

                    <div id="list-group-questions" class="d-flex flex-column w-100"></div>

                </div>
            </div>



        </div>



        <div class="modal fade" id="addGroupQuestinModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="addGroupQuestinModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" id="addGroupQuestinModalCenterTitle">Добавление группы вопросов</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-add-groups-question"></div>
                    </div>
                    <div class="modal-footer bg-light text-white">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
                        <button form="add_groups_question_form" type="submit" class="btn btn-outline-success">Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editGroupQuestions" tabindex="-1" role="dialog"
                     aria-labelledby="editGroupQuestionsTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-info text-white">
                                <h5 class="modal-title" id="editGroupQuestionsTitle">Редактирование группы вопросов</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body bg-transparent text-dark">
                                <div class="modal-edit-groups-question"></div>
                            </div>
                            <div class="modal-footer bg-light text-white">
                                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
                                <button form="update_group_form" type="submit" class="btn btn-outline-success">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="modal fade" id="deleteGroupQuestions" tabindex="-1" role="dialog"
                    aria-labelledby="deleteGroupQuestionsTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="deleteGroupQuestionsTitle">Удаление группы вопросов</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-groups-question-delete"></div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Закрыть</button>
                        <button form="delete_groups_form" type="submit" class="btn btn-outline-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleAddGroupUserModalCenter" tabindex="-1" role="dialog" aria-labelledby="#exampleAddGroupUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" id="exampleAddGroupUserModalCenterTitle">Добавить группу пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-add-group-user"></div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" aria-label="Close" aria-hidden="true">Закрыть</button>
                        <button form="add_group_user_form" type="submit" class="btn btn-outline-success">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="deleteGroupUserModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteGroupUserModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="deleteGroupUserModalCenterTitle">Удаление группы пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-group-user-delete"></div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" aria-label="Close" aria-hidden="true">Закрыть</button>
                        <button form="group_user_delete_form" type="submit" class="btn btn-outline-danger">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editGroupUserModal" tabindex="-1" role="dialog" aria-labelledby="editGroupUserModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" id="editGroupUserModalTitle">Редактирование группы пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-transparent text-dark">
                        <div class="modal-group-user-edit"></div>
                    </div>
                    <div class="modal-footer bg-light text-dark">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" aria-label="Close" aria-hidden="true">Закрыть</button>
                        <button form="edit_group_user_form" type="submit" class="btn btn-outline-info">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>


        {% if messages %}

            {% for message in messages %}
                <script>document.addEventListener("DOMContentLoaded", function(event) {
                    messagesInference('{{message}}', '{{message.tags}}');
                });</script>

                <!--
                {%if message.tags %}{{ message.tags }}{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message.level }} -->

            {% endfor %}
        {% endif %}

    {% endblock content %}
{% else %}
    <h2>Вы не авторизованы</h2>
{% endif %}


{% block javascript %} 
    <script>document.addEventListener("DOMContentLoaded", function(event) {
        groupsUser();

        // let options = {
        //     valueNames: [ 'groups_users'],
        //     item: 'btn-settings'
        // };

        // let groupsUserNameList = new List('settings-groups', options);

        // const btnGroupsUserSort = document.querySelector('[data-sort]')
        // arrowDataSort(btnGroupsUserSort)
    })</script>

{% endblock javascript %}

