{% extends "base.html" %}

{% if user.is_authenticated %}

    {% block content %}
        <div class="container">
            <div class="d-flex-row">
                <h1 class="mb-3">Статистика прохождения опроса(ов)</h1>
                {% if user_stat %}
                    {% for items_all in user_stat %}
                        <div class="w-100">
                            {% if items_all.count == 0 %}

                            <div class="" onclick="collapseOtvet('{{ items_all.number_opros_id }}', '{{items_all.oprosed}}',);" id="heading{{ items_all.number_opros_id }}" data-url = "{% url 'oprosanswers_list' %}">
                                <button class="btn btn-outline-success btn-lg btn-block collapsed mt-2" type="button"
                                        data-toggle="collapse" data-target="#collapse{{ items_all.number_opros_id }}"
                                        aria-expanded="false" aria-controls="collapse{{ items_all.number_opros_id }}">
                                    <div class="d-flex">
                                        <div class="col-2">
                                            <span class="badge m-1">Опрос пройден: </span>
                                        </div>
                                        <div class="col-2">
                                            <span class="badge badge-light m-1">{{ items_all.date_passage|date:"j E Y" }}</span>
                                        </div>

                                        <div class="col-4">
                                            <span class="badge m-1">Вы верно ответили на все вопросы из </span>
                                        </div>
                                        <div class="col-1">
                                            <span class="badge badge-light w-100 mb-1 mt-1">{{ items_all.count_all_question }}</span>
                                        </div>

                                        <div class="col-2">
                                            <span class="badge m-1">вопроса(ов), а это</span>
                                        </div>
                                        <div class="col-1">
                                            <span class="badge badge-light w-100 m-1">100 %</span>
                                        </div>
                                    </div>
                                </button>

                            </div>

                            {% else %}
                            <div class="" onclick="collapseOtvet('{{ items_all.number_opros_id }}', '{{items_all.oprosed}}',);" id="heading{{ items_all.number_opros_id }}" data-url = "{% url 'oprosanswers_list' %}">
                                <button class="btn btn-outline-danger btn-lg btn-block collapsed mt-2" type="button"
                                        data-toggle="collapse" data-target="#collapse{{ items_all.number_opros_id }}"
                                        aria-expanded="false" aria-controls="collapse{{ items_all.number_opros_id }}">
                                    <div class="d-flex">
                                        <div class="col-2">
                                            <span class="badge m-1">Опрос пройден: </span>
                                        </div>
                                        <div class="col-2">
                                            <span class="badge badge-light m-1">{{ items_all.date_passage|date:"j E Y" }}</span>
                                        </div>

                                        <div class="col-3">
                                            <span class="badge m-1">Вы не правильно ответили на: </span>
                                        </div>
                                        <div class="col-2 d-inline-flex">
                                            <span class="badge badge-light w-100 mb-1 mt-1">{{ items_all.count }}</span>
                                            <span class="badge m-1">из</span>
                                            <span class="badge badge-light w-100 mb-1 mt-1">{{ items_all.count_all_question }}</span>
                                        </div>

                                        <div class="col-2">
                                            <span class="badge m-1">вопроса(ов), а это</span>
                                        </div>
                                        <div class="col-1">
                                            <span class="badge badge-light w-100 m-1">{{ items_all.percents }} %</span>
                                        </div>
                                    </div>
                                </button>

                            </div>
                            {% endif %}

                            <div id="collapse{{ items_all.number_opros_id }}" style="transition: .6s;" class="collapse"
                                 aria-labelledby="heading{{ items_all.number_opros_id }}"
                                 data-parent="#heading{{ items_all.number_opros_id }}"></div>
                        </div>  
                    {% endfor %}
                {% else %}
                    
                    <div class="alert alert-info" role="alert">
                        <h4 class="h4">Опрос(ы) не проходил.</h4>
                      </div>
                {% endif %}
            </div>
        </div>
    {% endblock content %}
{% else %}
    <h2>Вы не авторизованы</h2>
{% endif %}