/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {

  color: #fff;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
}

small{
    font-size: 70% !important;
    font-weight: 200 !important;
}

.w-5{
  width: 5% !important;
}
.w-7{
  width: 7% !important;
}
.w-10{
  width: 10% !important;
}
.w-15{
  width: 15% !important;
}
.w-20{
  width: 20% !important;
}
.w-30{
  width: 30% !important;
}
.w-35{
  width: 35% !important;
}
.w-40{
  width: 40% !important;
}
.w-43{
  width: 43% !important;
}
.w-45{
  width: 45% !important;
}
.w-93{
  width: 93% !important;
}
.w-95{
  width: 95% !important;
}

.h40{
  height: 40px !important;
  display: inline-flex
}

.wh40{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.w80{
  width: 80px;
  align-items: center;
  justify-content: center;
}

[data-button-text]{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

[data-sort], [data-search]{
  pointer-events: all;
}

[data-search]{
  width: calc(100% - 40px);
  outline: none;
  border: none;
}

[data-search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  margin-left: .4em;
  margin-right: .4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2317a2b8'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

/* #17a2b8;
* fill='%2317a2b8' - %23 заменяет #
*/


.list{
  list-style-type: none;
  margin-left: 0px;
  padding-inline-start: 0px;
}



/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.button-overflow{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3rem;
  opacity: 0;
  display: flex;
  align-items: center;
}

.button-overflow .btn-overflow-childrens{

}

.select{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  gap: 1px;
}

.select__item{
  padding: 10px;
  cursor: pointer;
  text-align: center;
  color: #28a745;
  border-radius: 3px;
  border: 1px solid #28a745;
  background: transparent;
  transition: background 0.1s;
}

.select__item--selected{
  background: #28a745;
  color: #efefef;
}

.dropdown{
  position: relative;
}

.dropdown__button{
  position: relative;
  display: block;
  width: 100%;
  text-align: left;

  background: #ffffff;
  border: 1px solid #138496;
  border-radius: 5px;
  height: 40px;

  cursor: pointer;
}

.dropdown__button:focus, .dropdown__button--active{
  outline: none;
  box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-color: #138496 transparent transparent transparent;
  border-style: solid;
  pointer-events: none;
}

.dropdown__list{
  display: none;

  position: absolute;
  left: 0;
  top:42px;

  margin: 0;
  padding: 0;
  list-style-type: none;

  color:#484646;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  overflow: hidden;

  border-radius: 5px;
  width: 100%;

  z-index: 1;

}

.dropdown__list--visible{
  display: block;
}

.dropdown__list--item{
  text-align: left;

  margin: 0;
  padding: 0;

  border: 1px solid #17a2b8;
  border-bottom: 0;
  padding: 13px 20px;
  cursor: pointer;

}

.dropdown__list--item:first-child{
  border-radius: 5px 5px 0 0;
}

.dropdown__list--item:last-child{
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #17a2b8;
}

.dropdown__list--item:hover{
  background: rgba(176, 198, 225, 0.26);
}

.dropdown__input--hidden{
  display: none;
}


.btn-questions-list{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40px auto 80px 35vw;
  align-items: center;
}

.btn-users-list{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 45px 160px 35vw;
  align-items: center;
}


.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #59be6e;
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

.action-list {
    white-space: nowrap;
    font-size: 22px !important;
}
.action-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
.action-list>li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    position: relative;
}

.action-list>li>a {
    color: #dadada;
    font-size: 16px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7;
}
.action-list>li>a:hover {
    text-decoration: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.action-list li a.active {
    color: #ffae00;
}

.item-question{
  border: 1px solid #484646;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgb(96 94 94 / 18%) inset;
}


.childrens{
  display: none;
  padding: 0 1rem;
}

button.btn-settings:hover .childrens,
span.btn-statistics-user:hover .childrens{
  display: inline-flex;
}

button.btn-settings:hover .button-overflow,
span.btn-statistics-user:hover .button-overflow{
  opacity: 1;
}


.btn-settings--badge{
  color: #212529;
  background-color: #f8f9fa;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/*
* Forms
 */

.custom-control-label::after,
.custom-control-label::before{
  cursor: pointer;
}

small#hint_id_password > a{
  color: #28a745;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #138496;
    background-color: #17a2b8;
}

.card{
    background-color: transparent;
}
.disabled,[disabled]{
    pointer-events: none;
    opacity: .9 !important;
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: none;
}


.filter-groups{
    -webkit-box-shadow: 0 5px 13px -2px rgba(0,0,0,.8);
    box-shadow: 0 5px 13px -2px rgba(0,0,0,.8);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #4c4c4c;
}

.filter-groups header.header{
    min-height: 60px;
    width: 100%;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-groups ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


.btn-group-toggle>.btn input[type=radio], .btn-group-toggle>ul>li>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.form_radio_group input[type=radio] {
	display: none;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background: #ffe0a6;
}

/* Hover */
.form_radio_group label:hover {
	color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

/* Chartit */

.mw100{
    min-width: 100px;
}


.box {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.box .box-img {
    position: relative;
}

/*.box .box-img img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

.box .box-img:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.box:hover .box-img:before {
    opacity: 1;
    border-radius: .25rem;
}

.box .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .link a {
    width: 34px;
    height: 34px;
    /*background: #fff;*/
    /*color: #333;*/
    position: relative;
    /*top: 45%;*/
    opacity: 0;
    font-size: 14px;
    line-height: 34px;
    /*margin-right: 5px;*/
    /*display: inline-block;*/
    /*transform: rotateZ(-360deg);*/
    transition: all 0.3s ease 0s;
}

.box .link a:hover {
    text-decoration: none;
    /*color: #fff;*/
    /*background: rgba(255, 255, 255, 0.4);*/
}

.box:hover .link a {
    /*transform: rotateZ(0deg);*/
    opacity: 1;
}

@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 20px;
    }
}


/*
 * Footer
 */
main > .container {
  /* padding: 60px 15px 0; */
  /* margin: 0 auto; */
}


.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}




/*
Font-Awesome
*/
.fa-2 {
  font-size: 2em
}

.fa-3 {
  font-size: 3em
}

.fa-4 {
  font-size: 7em
}

.fa-5 {
  font-size: 12em
}

.fa-6 {
  font-size: 20em
}
